body,html{
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 background: #383838 !important;
}

.search-box{
  position: inherit;
  top: 17.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #4f4f4f;
  height: 60px;
  border-radius: 60px;
  padding: 10px;
}

.search-btn {
  color: #efefef;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4f4f4f;
  display: flex;
  justify-content:center;
  align-items:center;
  transition: 0.6s;
}

.search-box:hover > .search-txt {
  width: 620px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: #efefef;
  color: #4f4f4f;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #efefef;
  font-size: 16px;
  transition: 0.6s;
  line-height: 40px;
  width: 0px;
}

.column {
  float: left;
  width: 33.3333%;
  padding: 0 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background: #4f4f4f;
  border-radius: 20px;
}

.login-button {
  line-height: 12px;
  width: 18px;
  font-size: 15pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  background: #383838;
  color:#efefef;
}

.login-button:hover {
  opacity: 0.5;
}

/* Full-width input fields */
.login-form[type=email], .login-form[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  border-radius: 40px;
}

button:hover {
  opacity: 0.8;
}

body,html{
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 background: #383838 !important;
}

.search-box{
  position: absolute;
  top: 17.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #4f4f4f;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
}

.search-btn {
  color: #efefef;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4f4f4f;
  display: flex;
  justify-content:center;
  align-items:center;
  transition: 0.6s;
}

.search-box:hover > .search-txt {
  width: 620px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: #efefef;
  color: #4f4f4f;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #efefef;
  font-size: 16px;
  transition: 0.6s;
  line-height: 40px;
  width: 0px;
}

.column {
  float: left;
  width: 33.3333%;
  padding: 0 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background: #4f4f4f;
  border-radius: 20px;
}

.login-button {
  line-height: 12px;
  width: 18px;
  font-size: 15pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
  background: #383838;
  color:#efefef;
}

.login-button:hover {
  opacity: 0.5;
}

.box{
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  background: #191919;
}
.box h1 {
  color:white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="email"],.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="email"]:focus, .box input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"], .box input[type = "button"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  cursor: pointer;
}
.box input[type = "submit"]:hover, .box input[type = "button"]:hover{
  background: #2ecc71;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
a.title{
  transition: 0.5s;
}

a.title:hover{

  font-size: 35pt;
  transition: 0.5s;
}


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
a.title{
  transition: 0.5s;
}

a.title:hover{

  font-size: 35pt;
  transition: 0.5s;
}
